<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="SinghSabha" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" href={~p"/favicon.ico"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script type="module" src="https://unpkg.com/cally">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    <%= unless assigns[:show_header] == true do %>
      <SinghSabhaWeb.Components.Navbar.navbar current_scope={@current_scope} />
    <% end %>

    <%= if assigns[:show_footer] == false do %>
      <div class="container mx-auto px-4 py-8">
        {@inner_content}
      </div>
    <% else %>
      <main class="flex-1">
        <div class="container mx-auto px-4 py-8">
          {@inner_content}
        </div>
      </main>

      <SinghSabhaWeb.Components.Footer.footer />
    <% end %>
  </body>
</html>
