<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="SinghSabha" suffix=" • Gurdwara Singh Sabha">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" href={~p"/favicon.ico"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script type="module" src="https://unpkg.com/cally">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    <SinghSabhaWeb.Components.Navbar.navbar current_scope={@current_scope} />

    <main class="flex-1">
      {@inner_content}
    </main>
    <SinghSabhaWeb.Components.Footer.footer />
  </body>
</html>
